.NewsList {
    .NewsItem {
        margin-bottom: 30px;

        .news-item {
            display: flex;
            background-color: $gray-100;
            text-decoration: none;
            min-height: 300px;

            @include media-breakpoint-down(md) {
                display: block;
            }

            .news-item-img {
                width: 300px;
                flex-shrink: 0;
                background-color: $gray-200;
                overflow: hidden;
                transition: all .3s ease-in-out;

                @include media-breakpoint-down(md) {
                    width: 100%;
                    height: 300px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all .3s ease-in-out;
                }
            }

            .news-item-content {
                padding: 30px;

                .news-item-title {
                    color: $black;
                    text-transform: uppercase;
                    transition: all .3s ease-in-out;
                }

                .news-item-head {
                    display: flex;
                    align-items: center;
                    color: $secondary;
                    font-weight: 700;
                    margin-bottom: 8px;

                    .news-item-author {
                        margin-bottom: 0;
                        margin-right: 30px;
                        color: $black;
                    }

                    .news-item-date {
                        margin-bottom: 0;
                    }
                }

                .news-item-cats {
                    display: flex;
                    list-style: none;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: 0;
                    margin-bottom: 8px;

                    li {
                        margin-right: 10px;
                    }
                }

                .news-item-text {
                    color: $secondary;
                    margin-top: 30px;

                    & > *:last-child {
                        margin-bottom: 0;
                    }

                    p {
                        margin-bottom: 8px;
                    }
                }
            }
        }

        a.news-item {
            &:hover {
                .news-item-img {
                    background-color: $gray-300;

                    img {
                        transform: scale(1.05);
                    }
                }

                .news-item-content {
                    .news-item-title {
                        color: $primary;
                    }
                }
            }
        }

        &.featured {
            position: relative;

            .special-badge {
                position: absolute;
                top: 15px;
                left: 30px;
                z-index: 2;
            }

            .news-item {
                border: 1px solid $primary;
            }
        }
    }
}