.tree {
  list-style: none;
  padding: 0;

  li {
    padding: 5px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    div {
      & > i {
        margin-right: 5px;
        font-size: 0;

        &:before {
          font-size: 20px;
        }

        &[class^="icon-folder"] {
          color: #dfc834;
        }

        &.icon-file-pdf {
          color: #aa0c01;
        }

        &.icon-file-excel {
          color: #1b693d;
        }

        &.icon-doc {
          color: #2e7fe9;
        }
      }
    }

    ul {
      width: 100%;
      display: none;
    }

    &.has-children {
      & > div {
        cursor: pointer;
        position: relative;

        &:before {
          content: '\E800';
          display: inline-block;
          font-family: 'fontello';
          font-size: 20px;
          color: #000;
          position: absolute;
          right: 100%;
          margin-right: 5px;
          top: 50%;
          margin-top: -15px;
          transform: rotateZ(-90deg);
        }

        & > span {
          font-weight: 700;
        }
      }

      &.expanded {
        & > div {
          &:before {
            transform: rotateZ(0deg);
          }
        }

        & > ul {
          display: block;
        }
      }
    }
  }
}