@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 970px + 30px;
    }
}

.btn {
    &:focus {
        box-shadow: none;
    }
}

[type="checkbox"]:focus {
    box-shadow: none;
}

label {
    user-select: none;
}

.error {
    font-size: 12px;
}

.news-item {
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;

    &:not(:last-child) {
        border-bottom: 1px solid #999;
    }

    & > *:last-child {
        margin-bottom: unset;
    }

    .news-item-photo {
        width: 100%;
        max-width: 400px;
        height: 300px;
        background-color: #eee;

        img {
            vertical-align: top;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
    }
}