form {
    display: flex;
    margin-bottom: 5px;

    .form-control,
    .form-control:focus {
        background-color: rgba(255,255,255,.03);
        color: rgba(255,255,255,.5);
        border: none;
        box-shadow: none;
    }

    button {
        flex-shrink: 0;
        margin-left: 15px;
    }
}