.weather-info {
    margin-top: 30px;

    .list-group-item {
        color: inherit;
        background-color: transparent;
        border-color: rgba(255,255,255,.1);

        span {
            opacity: .5;
            color: #ffc107;
        }
    }
}