@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 970px + 30px;
    }
}

.btn {
    &:focus {
        box-shadow: none;
    }
}