nav {
    margin: 30px 0;

    .nav {
        .nav-item {
            .nav-link {
                color: $secondary;

                &:hover,
                &.active {
                    color: $primary;
                }
            }
        }
    }
}